_checkpoint/*
metastore_db/
spark-warehouse/*
last_updated_date.txt
__pycache__/*
__pycace__
.ipynb_checkpoints/*
.ipynb_checkpoints
acces_token.txt
ipynb_checkpoints/*
deltalake/speed_test/_checkpoint/*
deltalake/contraloria/*
hive/*
hive
contraloria/*
laprensa/*
auxilios_economicos.ipynb
planilla_contraloria.ipynb
file_ingestion.py
config.py

